<b>Current Weather Conditions for:
  ${weather.location.city}, ${weather.location.country}</b><br/>
  
<ul>
  <li>Temperature: ${weather.condition.temperature}</li>
  <li>Condition: ${weather.condition.feelsLike}</li>
  <li>Humidity: ${weather.atmosphere.humidity}</li>
  <li>Visibility: ${weather.atmosphere.visibility}</li>
  <li>Pressure: ${weather.atmosphere.pressure}</li>
  <li>Clouds: ${weather.atmosphere.clouds}</li>
  <li>Wind: ${weather.wind.speed} ${weather.wind.direction}</li>
  <li>Wind Feels Like: ${weather.wind.description}</li>
  <li>Date: ${weather.date}</li>
</ul>
